body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ff8488, #f8c5b7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Pacifico', cursive;
    overflow: hidden;
    position: relative;
}

.gift {
    width: 300px;
    height: 300px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
}

.gift-img {
    display: block;
    width: 100%;
    height: auto;
}

.gift:hover {
    transform: scale(1.05);
}

.ribbon {
    position: absolute;
    background: #fff;
}

.ribbon.vertical {
    width: 20px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.ribbon.horizontal {
    height: 20px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.card {
    display: block;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    color: white;
    position: absolute;
    z-index: 10;
    font-size: 1.8rem;
    transform-origin: center;
    animation: expandFromCenter 3s ease-out forwards;
    opacity: 0;
    height: 500px;
    width: 900px;
    transform: scale(0);
    transition: transform 1s ease-out, opacity 0.5s ease-out;
}

.card.show {
    display: block;
}

.confetti {
    position: absolute;
    top: -10px;
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
    animation: fall 5s infinite;
}

.img-gift {
    margin: auto;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-image: url(./123.gif);
    background-size: cover;
    background-position: top center;
}

.hidden {
    display: none;
}

h1 {
    margin-bottom: 16px;
}

#birthdayText {
    font-size: 20px;
    line-height: 2;
    margin-top: 0px;
    /* font-family: Arial, sans-serif; */
}

@keyframes fall {
    0% { 
        transform: translateY(0); 
        opacity: 1; 
    }
    100% { 
        transform: translateY(100vh) rotate(360deg); 
        opacity: 0; 
    }
}

@keyframes expandFromCenter {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}
  